<header>
    <h1>Tasks</h1>
</header>


<!-- <h1>OYEEE</h1> -->
<!-- {{sharedData}} -->

<!-- <p >{{productionIdTasks | json}}</p> -->
<!-- <div class="p" *ngFor="let p of productionIdTasks.tasks.id">{{p}}</div> -->
<div class="cards">
<div  *ngFor="let item of productionIdTasks.tasks">
    <div class="card" >
      <h4> Name : {{item['name']}}<br />
       Type : {{item['type']}}<br />
       Created : {{item['dateCreated']}}<br />
       Due at : {{item['dateDue']}}</h4>
    </div>
</div> 
</div>